/* Moodle 2.7 - Studio Theme */

* {
padding: 0em;
margin: 0em;
}


body
{
background: #ffc url([[pix:theme|images/studio-bodybg]]) repeat fixed;
padding: 35px 0px;
text-align: center;
}


body, table, td, th, li, h1, h2, h3, h4, h5, h6,
.forumpost, .topic, .subject, .headingblock, .header,
.categorybox .category, .name
{
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size: 0.95em;
  font-weight: normal;
}

  /* Header Tags - Main */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  padding-left: 5px;
}

p {
        line-height: 1.5em;
}

a:link, a:visited {
    color: #B96D00 !important;
    text-decoration: none;
}

a.dimmed:link,
a.dimmed:visited {
  color:#AAAAAA;
}

a:hover {
  color: #B96D00;
  text-decoration: underline;
}

a.autolink:link,
a.autolink:visited {
  color: #B96D00;
  background: transparent;
}

a.autolink.glossary:hover {
  cursor: help;
}

img.userpicture,
img.grouppicture {
  border: 0 none
}

.block_online_users .listentry img {
  border: 0 none;
}

h1
{
  font-size: 1.2em;
  font-weight: bold;
}

h2
{
  font-size:1.15em;
}

h3 span
{
font-weight: normal;
}

h3,h4
{
display: inline;
font-weight: bold;
}

h3
{
 font-size: 1.1em;
 padding-right: 34px;
}

h4
{
font-size: 1.2em;
padding-right: 28px;
line-height: 2em;
}

h5
{
  font-size: 0.85em;
  padding-bottom: 10px;
}


 /* Images - All */

img
{
border: 0px none;
}

img.center
{
display: block;
text-align: center;
margin: 0em auto 1.4em auto;
}

img.left
{
position: relative;
float: left;
margin: 0em 1.8em 1.4em 0em;
}

img.right
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

 /* Page Dividers */

.divider1
{
position: relative;
background: #fff url([[pix:theme|images/border2]]) repeat-x;
height: 14px;
margin: 2.0em 0em 1.5em 0em;
clear: both;
}

.divider2
{
position: relative;
height: 1px;
border-bottom: solid 1px #eaeaea;
margin: 2.0em 0em 2.0em 0em;
}

.post .details

ul.linklist
{
list-style: none;
}

ul.linklist li
{
line-height: 2.0em;
}

#page
{
/*
    The width value below controls the overall width of the design. By default it's set to 82%
    (so it'll take up 82% of the browser window's width). You can set it to a different percentage
    value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
*/
width: 90%;
border: solid 7px #fff;
background-color: #fff;
margin: 0 auto;
text-align: left;
}


/* Header  */

#studio-header-wrap
{
z-index: 1;
position: relative;
width: 100%;
background-color: #fff;
margin: 0 auto;
}

#header-home .headermenu
{
  font-size:.8em;
}

#header-home, #header
{
  background-color: #fff;
}

h1.headermain
{
  background-color: transparent;
  margin-top: 0;
}

#page-header.home
{
  position: relative;
  height: 150px;
  background: #ffc url([[pix:theme|images/studio-headerhomebg]]) repeat-x top left;
  margin-bottom: 2px;
}

h1.headermain.logo
{
  height: 150px;
  width: 100%;
  background: transparent url([[pix:theme|images/studio-logo]]) no-repeat center top;
}

#page-header
{
  position: relative;
  height: 75px;
  background: #ffc url([[pix:theme|images/studio-headerbg]]) repeat-x top left;
  margin-bottom: 2px;
}

h1.headermain.logosml
{
  height: 75px; width: 100%; background: transparent url([[pix:theme|images/studio-logosml]]) no-repeat center top;
}


/* Menu */

.navbar-inner {
    background: none;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    min-height: 40;
    padding: 0;
}

header.navbar {
    background: #7F8400 url([[pix:theme|images/menubg]]) repeat left top;
    padding: 0;
    margin-bottom: 2px;
}

#studio-menu {
    position: relative;
    height: 3.5em;
    padding: 0em 1.0em 0em 1.0em;
    text-transform: capitalize;
}

#studio-menu ul {
    padding-top: 0.5em;
}

#studio-menu ul li {
    position: relative;
    display: inline;
}

#studio-menu ul li a {
    padding: 0.5em 1.0em 0.9em;
    color: #B96D00;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

#studio-menu ul li a:link {
    background: #7F8400 url([[pix:theme|images/menu]]) repeat-x top left;
    color: #B96D00;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

#studio-menu ul li a:hover,
#studio-menu ul li a.active {
    background: #7F8400 url([[pix:theme|images/menuactive]]) repeat-x top left;
}

#studio-menubottom {
    background: #fff url([[pix:theme|images/border1]]) repeat-x;
    height: 14px;
    margin-bottom: 0.2em;
}

   /* Site Topic */

  .sitetopic {
  padding:0 4px;
  margin: 0px;
}

.sitetopiccontent
{
  border-width:0px;
}

  /* General Table - General Box */

.generaltable
{
  width: 100%;
  border: 1px dotted;
}

.generalbox {
  width: 95%;
  border: 0px;

}

/* Navbar */
.breadcrumb
{
  background: #FDFCF6 url([[pix:theme|images/boxbg]]) repeat-x;
  margin-bottom: 1.0em;
  border-color: #E1D2BD;
  border-style: dotted;
  border-width: 1px;
  width: auto;
  padding:3px 0.5em;
  width:auto;
}


table.navbar {
  width: 100%;
}

.navbar .navbutton form {
  float: left;
}

.navbar .navbutton {
  margin-top: 3px;
}

.navbar .navbutton,
.navbar .menu {
  float:right;
}

#footer .navbar {
  margin-top: 4em;
}

.navbar .breadcrumb {
  float:left;
  margin:0.2em 0em;
}


  /* Breadcrumb */

.breadcrumb
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:.85em;
  font-weight:bold;
}


.breadcrumb ul {
  padding:0%;
  margin:0%;
  text-indent:0%;
  list-style:none;
}
.breadcrumb li {
  display:inline;
}


.breadcrumb .sep, #admin-report-unittest-index .sep {
color: #E1E3BF;
}

.arrow, .arrow_button input {
font-family: Arial,Helvetica,sans-serif;
}


/* Login */

.loginbox,
.loginbox.twocolumns .loginpanel,
.loginbox .subcontent,
.loginbox .content
{
  border-color:#FDFCF6;
}


table.loginbox
{
  margin-top: 40px;
}

.loginbox .header
{
  border-width:1px;
  border-style:solid;
  border-bottom-width: 0px;
}

.loginbox .content
{
  border-top-width: 1px;
}

.logininfo
{
  font-size:.8em;
}



/* Footer */


#page-footer
{
  background: #fff url([[pix:theme|images/border2]]) repeat-x 0 0;
  font-size: 0.8em;
  height: auto;
}

#page-footer p.helplink
{
  margin-bottom: 10px;
}

#page-footer-content
{
  background: #FDFCF6 url([[pix:theme|images/boxbg]]) repeat-x;
  margin-bottom: 1.0em;
  border-bottom: dotted 1px #E1D2BD;
}

#page-footer .logininfo
{
  padding-top: 20px;
  font-size: 1em;
}

.copyright
{
  padding-top: 10px;
}

.copyright p
{
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 0.8em;
  text-align: center;
}

/* Side Blocks */

.block .header,
.block .header h2
{
  background-color: transparent;
}

.block {
    background: #FDFCF6 url([[pix:theme|images/boxbg]]) repeat-x;
    margin-bottom: 1.0em;
    border-bottom: dotted 1px #E1D2BD;
}

.block .post .head {
    color: #000;
}

.block .content
{
  background-color: transparent;
}

.block .content h2
{
  margin:1.5em 0 0;
  padding: 0 0 3px 0;
  color: #7F8400;
  font-family: 'Lucida Handwriting', serif;
  font-weight: bold;
}

.block .content .post .head .date,
.block .content .post .head .name
{
  color: #000000;
}

.block .header, .block .content, .block .footer
{
  border-width: 0px;
}


.block .header h2
{
  border-width: 0px;
  padding-top: 4px;
}

.block .header .hide-show-image
{
  padding-top: 4px;
}

.block .footer
{
  border-top-width:1px;
  border-top-style:solid;
  border-color: #E1D2BD;
  font-size:0.85em;
  text-align: left;
}


/* Calendar */

#calendar .today,
.minicalendar .today
{
  border:1px solid !important;
}

table.minicalendar
{
  width: 100%;
  margin:10px auto;
  padding:2px;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  border-spacing:1px !important;
}

table.minicalendar tr.weekdays th
{
  border-style: none;
}

table.minicalendar tr td.day
{
  border-style: solid;
  border-width: 1px;
}

table.minicalendar tr.weekdays th abbr
{
  border-style: none;
}

table.calendarmonth
{
  border-collapse:separate;
  border-spacing:1px !important;
}

table.calendarmonth tr td
{
  border-style: solid;
  border-width: 1px;
}

/* Calendar - Fonts */
#calendar calendar table.calendarmonth td
{
  font-size:.8em;
}

#calendar calendar .calendar-controls .current
{
  font-weight: bold;
}

#calendar .sidecalendar .filters
{
  font-size:0.75em
}

table.minicalendar tr.weekdays th
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.7em;
  font-weight:normal;
}

table.minicalendar tr td
{
  font-size:0.7em;
}


/* Modules: glossary */

.entrybox
{
  border-top: 0 none;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.entrybox hr
{
  border: 0;
}

.entry .concept,
.entryheader .concept
{
  margin-top: 5px;
  margin-bottom: 10px;
}

.glossarypost.continuous
{
  padding: 5px;
}

.mod-glossary .tabrow0
{
  padding-bottom:0px;
}

table.glossarypost .entryheader,
table.glossarypost .entryapproval,
table.glossarypost .picture,
table.glossarypost .entryattachment,
table.glossarypost .left,
table.glossarypost div.concept h3
{
  background-color: transparent;
}

table.glossarypost
{
  border: 0px
}

table.glossarypost tbody {
  background: #FDFCF6 url([[pix:theme|images/boxbg]]) repeat-x;
  margin-bottom: 1.0em;
  border-bottom: dotted 1px #E1D2BD;
}
table.glossarypost td.entrylowersection tbody
{
  background: #FDFCF6 url([[ ) repeat-x;
}

/* Error message */

.errorbox
{
   color:#333;
   border-width: 2px;
}

/* Course */

#course-view .section .left
{
  font-weight: bold;
  font-size: 1.2em;
}

.coursebox .info .name
{
  font-weight: bold;
  font-size: 1.2em;
}

/* Accessibility: only certain fonts support Unicode chars like &#x25BA; in IE6 */
.arrow, .arrow_button input
{
  font-family: Arial,Helvetica,sans-serif;
}


span.arrow
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

p.arrow_button input
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


   /*Accessibility: resizable icons. */

img.resize
{
  width: 1em;
  height: 1em;
}

   /* Glossary */

.glossarypost div.concept h3,
.glossarypost.continuous .concept
{
  display: inline;
}

.glossaryexplain
{
  font-size: 0.85em; text-transform: capitalize; padding-top: 10px;
}

/* Core Colors */

#side-pre .hidden .header,
#side-post .hidden .header
{
  border-color:#FDFCF6;
}


#page-content
{
  background-color: #fff;
  border-color:#FDFCF6;
}

.generalbox
{
  border-color:#FDFCF6;
  background-color:#FFFFFF;
}

.generaltable,
.generaltable td
{
   border-color:#FDFCF6;
/* background-color:#FFFFFF; */
}

/*
.generaltable .r0 td.cell.c0
{
   background-color:#FDFCF6;
}
*/

.generaltable .r0
{
  background-color:#fff;
}

.generaltable .r1
{
  background-color:#F1EFEB;
}

.generaltable .r1 td.cell.c0
{
  border-color:#FDFCF6;
/* background-color:#E3DFD4; */
}

.sitetopic
{

}

.highlight {
  background-color:#E1E3BF;
}

.highlight2 {
  color: #7B8300; /* highlight missing terms in forum search */
}

/* Roles */

.rolecap .inherit.capdefault, .rolecap .allow.capdefault {
  background-color:#E3DFD4;
}

#admin-roles-override .capcurrent {
  background-color:#E3DFD4;
}




/* Calendar */

#calendar calendar,
#calendar .sidecalendar,
#calendar calendar .event {
  border-color: #FDFCF6;
}

#calendar calendar table.calendarmonth th {
  border-color: #FDFCF6;
}


table.calendarmonth tr td {
   border-color:#FDFCF6;
}

table.minicalendar {
  border-color:#FDFCF6;
}

table.minicalendar tr.weekdays th {
  background-color:#fff;
  border-color:#FDFCF6;
  }

table.minicalendar tr td.day {
   border-color:#FDFCF6;
  }

table.minicalendar tr td.weekend {
border-color:#FDFCF6;
color: #B96D00;
}

#calendar .today,
.minicalendar .today {
  border-color:#000000 !important;
}

/* colors for calendar events */
#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global {
  border-color:#B96D00 !important;
  background-color:#fff;
}

#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course {
  border-color:#B96D00 !important;
  background-color:#fff;
}

#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group {
  border-color:#B96D00 !important;
  background-color:#fff;
}

#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user {
   border-color:#B96D00 !important;
   background-color:#fff;
}

.cal_popup_fg {
  background-color:#fff;
}

.cal_popup_bg {
  border-color:#FDFCF6;
  background-color:#fff;
}


/* Modules: Forum */

.forumheaderlist,
.forumpost {
  background: transparent;
}


.forumpost .left {
  background: transparent;
}

.forumpost .content,
.forumpost .starter
{
background: transparent;
}

.forumpost .starter,
.forumpost .left,
.forumpost .content
{
  background-color: transparent;
  border-bottom: 0 none;
}

.forumpost {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  text-align: left;
}

.forumpost .content
{
  background: transparent url([[images/studio-openquote.png) no-repeat 0px 0px;
  padding-top: 30px;
  padding-right: 35px;
  margin: 0;
  width: 100%;
  text-align: justify;
}

.forumpost .posting
{
  width: auto; margin: 0 auto;
}

.forumpost div.commands
{
  padding-top: 30px;
  background-color: transparent;
  background-image: url([[images/studio-closequote.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.forumpost div.commands,
.forumpost div.link
{
 font-size: 80%;
}


.forumpost .left {
padding: 0px;
vertical-align:top;
}

.forumpost .topic .author {
font-size:0.8em;
visibility: hidden;
}

.forumheaderlist .discussion .starter {
  background: transparent;
}

.forumheaderlist td {
  border: 0 none;
}

.forumthread .unread
{
  background: #fff;
}

table.forumpost
{
  background: #FDFCF6 url([[pix:theme|images/boxbg]]) repeat-x;
  margin: 0 0 1em 0;
  padding: 0;
  border-bottom: dotted 1px #E1D2BD;
}

.subject
{
  padding-top: 10px;
  font-size: 1.5em;
  font-family: 'Lucida Handwriting', sans-serif;
  font-weight: normal;
  font-weight: bold;
  color: #7F8400;
  text-align: left;
  text-transform: capitalize;
  text-decoration: underline;
}

/* Modules: glossary */

.picture,
.entryattachment,
.entryapproval
{
  background-color: #fff;
}

.glossarypost.dictionary,
.glossarypost.fullwithauthor,
.glossarypost.fullwithoutauthor,
.glossarypost.continuous,
.glossarypost.encyclopedia,
.glossarypost.faq
{
  border-color: #333;
  background-color: #FFFFFF;
}

.glossarycategoryheader th
{
  background-color: #fff;
}


.glossarycategoryheader h2,
.glossarypost .concept h3
{
  background-color: #fff
}

.glossarypost .entryheader,
.glossarypost .entryapproval,
.glossarypost .picture,
.glossarypost .entryattachment,
.glossarypost .left
{
  background-color:#fff;
}

/* Error message */

.errorbox {
   color:#000000;
   border-color:#333;
   background-color:#fff;
 }

.errorboxcontent {
   background-color:#fff;

}


/* Grade */

.grade-report-grader table#user-grades td.cell span.gradepass {
  background-color: #fff;
}

.grade-report-grader table#user-grades td.cell span.gradefail {
  background-color: #fff;
}

/* User */

.userinfobox {
 border-color: #333;
}

.userinfobox .side {
 background-color: #fff;
}

.userinfobox .content {
 background-color: #fff;
}


 /* User Image */

img.userpicture, img.grouppicture {
border-width: 0px;
}

.userpicture
{
  visibility: hidden;
}

.userpicture, .picture user, .picture teacher {
  height:35px;
  vertical-align:top;
  width:35px;
}


 /* Admin */

#adminsettings fieldset {
  background-color: #FDFCF6;
  background-image: url([[pix:theme|images/boxbg]]);
  background-repeat: repeat-x;
  margin-bottom: 1.0em;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #E1D2BD;
}

 /* Blog Tag Cloud - Font Variation */

   li a.s1{font-size:7px;}
   li a.s2{font-size:9px;}
   li a.s4{font-size:10px;}
   li a.s5{font-size:11px;}
   li a.s7{font-size:12px;}
   li a.s8{font-size:13px;}
   li a.s11{font-size:14px;}
   li a.s14{font-size:15px;}
   li a.s17{font-size:16px;}
   li a.s20{font-size:17px;}


.clearer
{
  font-size: 1px;
}

th {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

th.header,
td.header,
div.header,
.coursename
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

.categorybox .category
{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.generaltable td.cell.c0
{
  font-weight: bold;
}

/* Bootstrap reset */

#page.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#studio-menu ul {
    margin: 0;
}

.coursebox > .info > .coursename a {
    background-image: url([[pix:core|i/course]]);
    background-position: left 50%;
    background-repeat: no-repeat;
    float: left;
    line-height: 1;
    padding-left: 21px;
    vertical-align: middle;
 }
.coursebox .info {
    background-color: white;
    background-image: none;
}

.courses .coursebox:hover,
.course_category_tree .courses > .paging.paging-morelink:hover {
    background: none;
}

.navbar .btn-navbar .icon-bar {
  background-color: #333;
  width: 25px;
  height: 3px;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
    background-color: transparent;
    background: #7F8400 url([[pix:theme|images/menuactive]]) repeat-x top left;
}

.navbar .btn-navbar {
    background-color: #890;
    background-image: none;
    background-repeat: repeat-x;
    border: 0 none;
    margin-top: 7px;
    padding:10px;
}


/* End */